#game-board {
    margin: 20px auto;
    display: block;
    background-color: black;
  }
  
  #game-over {
    font-size: 24px;
    color: #f00;
    text-align: center;
    margin-top: 20px;
  }
  
  #restart-button {
    display: block;
    margin: 10px auto;
  }
  
  .hidden {
    display: none;
  }
  